#account-link{
    text-align: right;
}

body{
    background-color: lightgrey;
}

.med-text-entry{
    min-width: 400px;
    min-height: 75px;
}

.large-text-entry{
    min-width: 500px;
    min-height: 100px;
}

.game-list{
    background-color: #99ff99;
    border: 2px solid black;
    min-width: 75%;
}

.game-list-item{
    border: 1px solid black;
    min-height: 50px;
    text-align: center;
}